body {
    background-color: #3b3b3b;
    color: #b2b2b2;
    text-align: center;
    font-family: "Roboto Thin", monospace;
}

input {
    background-color: #2f2f2f;
    color: #b2b2b2;
    border: solid white 1px;
    border-radius: 5px;
    text-align: right;
    font-size: large;
}

.pulsante {
    background-color: #2f2f2f;
    border: none;
    color: #dedede;
    font-weight: bold;
    margin-top: 10px;
    padding: 20px 300px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.4s;
}

.pulsante:hover {
    background-color: #b2b2b2;
    color: black;
}