body{
    background-color: red;
    text-align: center;
    background-image: url("../Immagini/albero-icona.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

h1{
    color: #0000ff;
    background-color: yellow;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-indent: 23px;
}

/*h2{
    font-family: "Times New Roman";
    font-size: 10px;
    color: white;
    text-indent: 23px;
    text-align: center;
}*/

/*h3{
    font-family: Arial;
    font-size: 8px;
    font-variant: all-small-caps;
    color: aliceblue;
    text-indent: 23px;
    text-align: right;
}*/

th{
    text-align: center;
    font-family: "Times New Roman";
    font-size: 10px;
    color: white;
    text-indent: 23px;
    text-align: center;
}

td{
    font-family: Arial;
    font-size: 8px;
    font-variant: all-small-caps;
    color: aliceblue;
    text-transform: uppercase;
    text-indent: 23px;
    text-align: right;
    text-decoration: line-through;
}

li{
    color: white;
}
